* {
	text-align: center !important;
}
body {
	margin: 20px;
}
#morse, #english, tbody {
	font-weight: 900;
}
::placeholder {
	font-weight: 400;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
	font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
	font-weight: 400;
}
::selection {
	background: #999;
	color: #fff;;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
button i.fa-times, button i.fa-copy, button i.fa-search {
  transition: all .2s ease-in-out;
}
button:active i.fa-search {
  transform: scale(1.2);
}
button:active i.fa-copy, button:active i.fa-times {
  transform: scale(1,-1);
}